{% extends "base.html" %}
   {% block content %}
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {% for article in articles %}
            <div class="panel panel-default">
              <div class="panel-heading">
                  标题:&nbsp;&nbsp;<a href="/get_article/{{article.article_id}}">{{article.article_title}}</a>
              </div>
              <div class="panel-body">
                  <div class="media">
                    <a href="/get_article/{{article.article_id}}" class="pull-left"><img width="200" height="123" src="{{article.article_url}}"/></a>
                    <div class="media-body">
                        内容:&nbsp;&nbsp;{{article.article_summary|safe}}...
                    </div>
                  </div>
                  <p >
                    <span class="pull-right"><a href="/add_article_sc/{{article.article_id}}">喜欢({{article.article_sc}})&nbsp;&nbsp;</a></span>
                    <span class="pull-right"><a href="/get_article/{{article.article_id}}">评论({{article.article_pl}})&nbsp;&nbsp;</a></span>
                    <span class="pull-right">浏览({{article.article_read_cnt}})&nbsp;&nbsp;</span>
                    <span class="pull-right">时间:{{article.article_date}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="pull-right">楼主:{{article.article_author}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </p>
              </div>
            </div>
            {% endfor %}

        </div>
      </div>
    </div>
    {{super()}}
    {% endblock %}

   
